<style>
    .custom-heading {
      margin-bottom: 0; /* Adjust the margin-bottom value to reduce spacing */
    }
  </style>

<aside class="col-12 col-md-12 col-xl-3">
    <div class="sidebar box shadow pb-0 sticky-column">
        <svg class="avatar avatar--180" viewBox="0 0 188 188">
            <g class="avatar__box">
                <image xlink:href="{{'assets/img/face_thumb_nobg.png' | absolute_url }}" height="100%" width="100%" />
            </g>
        </svg>
        <div class="text-center">
            <div>
                <h3 class="title title--h3 sidebar__user-name custom-heading"><span class="weight--500">Giovanni</span></h3>
              </div>
              <div>
                <h3 class="title title--h3 sidebar__user-name">De Felice</h3>
            </div>
            <div class="badge badge--hero badge--light">Postdoc</div>
            <!-- Social -->
            <div class="social">
                <a class="social__link" href="https://scholar.google.com/citations?user=dFZ6v6IAAAAJ&hl=en" target="_blank"><svg class="marshkicon text-icon">
                        <use href="#marshkicon-google-scholar" /></svg></a>
                <a class="social__link" href="https://github.com/gdefe" target="_blank"><svg class="marshkicon text-icon">
                        <use href="#marshkicon-github" /></svg></a>
                <a class="social__link" href="https://www.linkedin.com/in/giovanni-de-felice-4ab013219/" target="_blank"><svg class="marshkicon text-icon">
                        <use href="#marshkicon-linkedin" /></svg></a>
            </div>
        </div>
        <div class="sidebar__info box-inner box-inner--rounded">
            <ul class="contacts-block">
                <li class="contacts-block__item">
                    <svg class="marshkicon text-icon">
                        <use href="#marshkicon-building" /></svg><a href="https://www.usi.ch/en" data-toggle="tooltip" data-placement="top" title="CS" target="_blank" rel="noopener noreferrer">USI</a>
                    &nbsp;@&nbsp;
                    <a href="https://www.liverpool.ac.uk/" data-toggle="tooltip" data-placement="top" title="Univ. of Liverpool" target="_blank" rel="noopener noreferrer">UOL</a>
                </li>
                <li class="contacts-block__item">
                    <svg class="marshkicon text-icon">
                        <use href="#marshkicon-placeholder" /></svg><a href="https://maps.app.goo.gl/XXnDiytcbEFVHSmx6" target="_blank" rel="noopener noreferrer">Lugano, Switzerkand</a>
                </li>
                <li class="contacts-block__item">
                    <a href="mailto:g.de-felice@liverpool.ac.uk"><svg class="marshkicon text-icon">
                            <use href="#marshkicon-mail" /></svg>giovanni.de.felice@usi.ch</a>
                </li>
            </ul>
                <a href="./../assets/pdf/giovanni_defelice_cv.pdf" class="btn">Read CV</a>
        </div>
    </div>
</aside>